
# exclude these file patterns
.DS_Store
*.gz
*.tar.*
*backup*
*bk*
*iniconda*.sh
splinter.cfg

# exclude these directories patterns
ansible/roles
conda/
env/
files/*
files/*/*
profiles/*
pyenv/
splinter/
tools/

# exceptios
!*.md
!files/*/
!files/*/MarcoMC_Apple_Sketch_Round.png
!profiles/default-example/
!profiles/example/
!splinter_*
