.DS_Store
*iniconda*.sh
ansible/roles
conda/
env/

files/*
files/*/*
!files/splinter_logo.png
!files/*/
!files/*/*.md
!files/*/MarcoMC_Apple_Sketch_Round.png



profiles/*
!profiles/default/
!profiles/example/
pyenv/
